<div class='user-card'>
 <img src="<%= user.photo %>" alt="<%= user.name %>">
 <div class = 'user-info'>
   <h2><%= link_to  user.name, user  %></h2>
   <p>Number of posts: <%= user.posts_counter %></p>
 </div>
</div>