<div class='user-card'>
<%= image_tag user.photo, alt: "#{user.name} profile image", class: 'profile'%>
<%= link_to user, class: 'user-card-body' do %>
    <h4><%= user.name %></h4>
  <div class='user-post-count'>
  Number of posts: <%= user.posts.count == nil ? 0 : user.posts.count %></div>
<% end %>
</div>