.comment-card {
  width: 100%;
  border: 1px solid black;
  padding: 2%;
  margin-bottom: 1rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3%;
}

.comment-field {
  width: 15rem;
  height: 2rem;
}

.comment-li {
  border: 1px solid rgb(206, 199, 199);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.comment-li .button_to {
  margin-left: auto;
}